@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat.ttf");
}
@font-face {
  font-family: "Panton";
  src: url("../../fonts/Panton W01 Heavy/Panton W01 Heavy.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Panton";
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #2D2E42;
  color: #ffff;
  font-size: 14px;
}

:root {
  --width-left-side: 300px;
  --header-img-height: 42px;
  --border-val: 1.9px;
}

.container {
  padding: 0 80px;
}

.main {
  position: relative;
  height: 100vh;
}

.left-side {
  position: absolute;
  left: 0;
  padding: 15px 34px;
  max-width: var(--width-left-side);
  width: 100%;
  background-color: #3e394d;
  height: 100vh;
}
.left-side .logo {
  display: flex;
  justify-content: center;
  align-items: initial;
  flex-direction: initial;
  border-bottom: 2px solid #9887ce;
  padding-bottom: 30px;
  margin: 0 17px;
}
.left-side .logo img {
  height: 70px;
}
.left-side .btn-fillter {
  padding-top: 30px;
}
.left-side .btn-fillter .btn {
  display: flex;
  background: #2d2e42;
  color: #ffff;
  padding: 13px 15px;
  margin-bottom: 10px;
  text-transform: capitalize;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.left-side .btn-fillter .btn.active {
  color: #a568ff;
}
.left-side .btn-fillter .btn.active .cercle-btn {
  background-color: #a568ff;
}
.left-side .btn-fillter .btn:last-child {
  margin-bottom: 30px;
}
.left-side .btn-fillter .btn .cercle-btn {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  background: #575267;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.smm-box {
  padding-top: 30px;
  border-top: 2px solid #9887ce;
  margin: 0 17px;
  display: flex;
  justify-content: center;
  align-items: initial;
  flex-direction: initial;
  flex-direction: column;
}
.smm-box .smm {
  display: flex;
  justify-content: center;
  align-items: initial;
  flex-direction: initial;
  padding-bottom: 30px;
}
.smm-box .smm a:not(:last-child) {
  padding-right: 15px;
}
.smm-box .smm img {
  height: 33px;
}
.smm-box .btn-disc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 17px;
  text-align: center;
  padding: 7px 0;
  border-radius: 30px;
  color: #a568ff;
  border: 3px solid #a568ff;
  background: transparent;
  cursor: pointer;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.smm-box .btn-disc button {
  background-color: transparent;
  color: inherit;
  border: none;
}
.smm-box .btn-disc svg {
  height: 20px;
  display: none;
}

.section {
  overflow: hidden;
  position: absolute;
  left: var(--width-left-side);
  width: calc(100% - var(--width-left-side));
  height: 100vh;
}
.section .header {
  margin: 20px 0;
  overflow: hidden;
  justify-content: end;
  background-color: #3e394d;
  padding: 2px 23px 0px 0px;
  border-radius: 16px;
  border: 1.8px solid #9887ce;
  animation: popMain 0.3s linear forwards;
}
.section .header .content-header > div:not(:last-child) {
  margin-right: 55px;
}
.section .header .content-header img,
.section .header .content-header .id {
  height: var(--header-img-height);
  padding-right: 8px;
}
.section .header .content-header {
  display: flex;
  align-items: start;
}
.section .header div {
  display: flex;
  align-items: center;
  justify-content: end;
}

.hero::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  border-radius: 37px;
  background: linear-gradient(168.19deg, #a568ff 0%, #432373 99.65%);
}

.info-news::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  border-radius: 37px;
  background: linear-gradient(130.34deg, #eb72ff 5.68%, #753280 93.29%);
}

.info-noti::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  border-radius: 37px;
  background: linear-gradient(126.07deg, #ffec3d 4.09%, rgba(208, 127, 5, 0.26) 98.23%);
}

.content .hero {
  display: flex;
  position: relative !important;
  background-color: #3e394c;
  padding: 30px 70px;
  width: 100%;
  border-radius: 37px;
}
.content .hero .hero-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.content .hero .hero-content h2.title {
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.content .hero .hero-content p.par {
  margin-bottom: 10px;
}
.content .hero .hero-content p.par:first-of-type,
.content .hero .hero-content p.par:last-of-type {
  font-family: "Montserrat";
}
.content .hero .hero-content p.par:last-of-type {
  margin-bottom: 30px;
}
.content .hero .hero-content p.par:nth-of-type(2) {
  font-size: 20px;
}
.content .hero .hero-content button {
  background: transparent;
  border: 0;
  color: #ffff;
  cursor: pointer;
}
.content .hero .hero-content .btn-hero {
  letter-spacing: 0.2px;
  background: linear-gradient(156.43deg, #ffd600 8.43%, #ff8a00 84.81%);
  box-shadow: 4px 4px 6px rgba(80, 71, 92, 0.5);
  border-radius: 24px;
  padding: 7px 35px;
  font-size: 12px;
}
.content .sec-info {
  margin-top: 35px;
  display: flex;
  gap: 50px;
}
.content .sec-info > div {
  position: relative !important;
  width: 100%;
  height: 200px;
  background-color: #3e394c;
  border-radius: 37px;
}
.content .sec-info .info-noti img {
  position: absolute;
  left: -110px;
  height: 460px;
  top: -365px;
}
.content .sec-info .info-noti::after {
  z-index: 0;
}
.content .sec-info .content-noti {
  position: relative !important;
  width: 100%;
  height: 200px;
  background-color: #3e394c;
  border-radius: 37px;
  z-index: 500;
}
.content .sec-info .info-news,
.content .sec-info .content-noti {
  padding: 10px 30px;
}
.content .sec-info .info-news .title,
.content .sec-info .content-noti .title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}
.content .sec-info .noti-desc p {
  font-family: "Montserrat";
}
.content .sec-info .noti-desc .time-info {
  text-align: end;
  color: #a7a7a7;
  font-size: 10px;
  font-weight: 100;
  margin-bottom: 4px;
}
.content .sec-info .noti-desc .noti {
  background: #2d2e42;
  font-size: 10px;
  overflow: hidden;
  padding: 8px 15px;
  border-radius: 10px;
}
.content .sec-info .noti-desc:not(:last-child) {
  margin-bottom: 10px;
}

.avatar-icons {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.avatar-icons .icon {
  position: relative;
  cursor: pointer;
}
.avatar-icons .icon::after {
  content: "";
  width: 65px;
  height: 65px;
  background: linear-gradient(0deg, #575267, #575267);
  border: var(--border-val) solid #a568ff;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.avatar-icons .icon.active.Zeus::after {
  border-color: #35d4c0;
  box-shadow: 0px 0px 20px 5px rgba(114, 213, 255, 0.8);
}
.avatar-icons .icon.active.Achilles::after {
  border-color: #a568ff;
  box-shadow: 0px 0px 20px 12px rgba(152, 135, 206, 0.6);
}
.avatar-icons .icon.active.Medusa::after {
  border-color: rgba(255, 242, 0, 0.6);
  box-shadow: 0px 0px 20px 10px rgba(255, 168, 0, 0.6);
}
.avatar-icons .icon.active.Sbata::after {
  border-color: rgba(255, 168, 0, 0.6);
  box-shadow: 0px 0px 20px 10px rgba(255, 242, 0, 0.6);
}
.avatar-icons .icon img {
  height: 70px;
}

.popup--icon .popup__content .img-i img {
  height: 80px;
}

.avatar-info {
  display: flex;
}
.avatar-info .avatar-img {
  position: relative;
  height: fit-content;
}
.avatar-info .img-av {
  margin: 0px 40px;
  position: relative;
}
.avatar-info .avatar-main {
  height: 385px;
}
.avatar-info .info {
  margin-top: 55px;
  margin-left: 40px;
  width: 100%;
}
.avatar-info .info .box {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  border: var(--border-val) solid #9887ce;
}
.avatar-info .info .box div {
  padding: 10px 50px;
  position: relative;
  cursor: pointer;
}
.avatar-info .info .box a.active {
  color: #a568ff;
}
.avatar-info .info .box a.active div::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 100%;
  height: 100%;
  border: var(--border-val) solid #6652a7;
  border: 2px solid;
  border-radius: 15px;
}

.arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.arrows .icon-arrow {
  height: 35px;
  cursor: pointer;
}

.btn-def {
  margin-top: 15px;
}
.btn-def button {
  color: #fff;
  padding: 10px 15px;
  border-radius: 27px;
  cursor: pointer;
  border: 0;
}

.detail-av {
  margin-top: 20px;
}
.detail-av .name {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.detail-av .name .icon-edit {
  margin-left: 10px;
  height: 17px;
  cursor: pointer;
}
.detail-av .Ch-name {
  display: flex;
  align-items: center;
}
.detail-av .Ch-name .chAvatar-name {
  background-color: #2d2e42;
  border: 1.9px solid #9887ce66;
  outline: none;
  text-indent: 10px;
  padding: 6px 0;
  max-width: 130px;
  width: 100%;
  border-radius: 12px;
  margin-right: 10px;
  font-size: 16px;
  color: #fff;
}
.detail-av .Ch-name .chAvatar-name::placeholder {
  color: #58527a;
}
.detail-av .Ch-name button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.detail-av .Ch-name button:first-of-type {
  margin-right: 10px;
}
.detail-av .Ch-name button img {
  height: 20px;
}
.detail-av .process-detail {
  max-width: 300px;
  margin-bottom: 10px;
}
.detail-av .process-detail .level-process {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  width: 295px;
}
.detail-av .process-detail .line-process {
  width: 100%;
  height: 15px;
  border-radius: 27px;
  background-color: #575267;
}
.detail-av .process-detail .line-process .process {
  border-radius: 27px;
  background: #ff6b00;
  width: 100%;
  height: 100%;
}
.detail-av .status p {
  margin-bottom: 3px;
}
.detail-av .status .Evolve {
  max-width: 300px;
}
.detail-av .status .btn-sell button {
  background: linear-gradient(156.43deg, #ff6827 8.43%, #ff2416 84.81%);
}
.detail-av .status .btn-sell button a {
  color: #fff;
}
.detail-av .status .btn-Evolve {
  margin-bottom: 15px;
}
.detail-av .status .btn-Evolve button {
  padding: 10px 30px;
}
.detail-av .status .btn-Evolve button.active {
  background: linear-gradient(156.43deg, #ffd600 8.43%, #ff8a00 84.81%);
  cursor: pointer;
}
.detail-av .status .btn-Evolve button.desactive {
  background: #6e697c;
  cursor: initial;
}
.detail-av .status p.desc-Evolve {
  font-family: "Montserrat";
  font-size: 12px;
}
.detail-av .status div.line {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 70%;
  height: var(--border-val);
  background: #a568ff;
}
.detail-av .status .stones {
  height: 67.67px;
}
.detail-av .status .stones p {
  letter-spacing: 0.5px;
  font-size: 16px;
}
.detail-av .status .stones .btn-stones {
  display: flex;
}
.detail-av .status .stones .btn-stones button {
  letter-spacing: 0.5px;
  width: 170px;
}
.detail-av .status .stones .btn-stones button.make {
  background: linear-gradient(156.43deg, #35d4c0 8.43%, #348379 84.81%);
  margin-right: 20px;
}
.detail-av .status .stones .btn-stones button.purchase {
  background: linear-gradient(156.43deg, #a568ff 8.43%, #69449f 84.81%);
}

.detail-av.Training .select_mate {
  border: var(--border-val) solid #a568ff;
}
.detail-av.Training ul {
  border: var(--border-val) solid #a568ff;
  top: -44px;
}
.detail-av.Training .dropdown-body.open {
  border: var(--border-val) solid #a568ff;
}
.detail-av.Training .training-status .line-process {
  position: relative;
  overflow: hidden;
}
.detail-av.Training .training-status .line-process.active::after {
  content: "";
  position: absolute;
  background-color: #a468ff40;
  width: 0%;
  height: 100%;
  top: 0;
  animation: tr 2s infinite ease-out;
  border-radius: 27px;
}
.detail-av.Training .training-status .process {
  background-color: #a568ff;
}
.detail-av.Training .level-process {
  align-items: center;
}
.detail-av.Training .level-process .btn-def {
  margin-top: 0;
}
.detail-av.Training .level-process .btn-def button {
  padding: 5px 15px;
  font-size: 10px;
  background: linear-gradient(156.43deg, #a568ff 8.43%, #5e3896 84.81%);
  box-shadow: 1px 2px 4px rgba(71, 69, 73, 0.5);
}
.detail-av.Training .desc-time {
  font-family: "Montserrat";
  margin-top: 15px;
  font-size: 12px;
}
.detail-av.Training .desc-time span {
  color: #a568ff;
  font-family: "Montserrat";
  font-weight: bolder;
}

@keyframes tr {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.box-chests {
  display: grid;
  grid-template-columns: repeat(4, minmax(160px, 160px));
  row-gap: 20px;
  justify-content: space-between;
}
.box-chests .chest {
  padding-bottom: 20px;
  width: 160px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #2d2e42;
}
.box-chests .chest::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: calc(100% + 2.5px);
  height: calc(100% + 2.5px);
  background: linear-gradient(168.19deg, #9887ce 0%, #554679 99.65%);
  border-radius: 37px;
  z-index: -1;
}
.box-chests .chest .icon-chest {
  display: flex;
  justify-content: center;
  align-items: initial;
  flex-direction: initial;
  position: relative;
  width: 100%;
  background-color: #2d2e42;
  border-radius: 37px;
  margin-bottom: 15px;
}
.box-chests .chest .icon-chest .img {
  z-index: 500;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #2d2e42;
  border-radius: 37px;
  padding: 20px 0 10px 0;
  position: relative;
}
.box-chests .chest .icon-chest .img .icon-info {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 25px;
  color: #9887ce;
}
.box-chests .chest .icon-chest::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: calc(100% + 2.5px);
  height: calc(100% + 2.5px);
  background: linear-gradient(168.19deg, #9887ce 0%, #554679 99.65%);
  border-radius: 37px;
}
.box-chests .chest .icon-chest img {
  height: 100px;
}
.box-chests .chest .detail-chest {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box-chests .chest .detail-chest p {
  font-size: 16px;
}
.box-chests .chest .detail-chest button {
  display: block;
  width: 80px;
  padding: 4px 0;
  font-size: 12px;
}
.box-chests .chest .detail-chest button.open {
  background: linear-gradient(156.43deg, #ffec3d 8.43%, #ff8a00 84.81%);
  margin-bottom: 10px;
}
.box-chests .chest .detail-chest button.sell {
  background: linear-gradient(156.43deg, #a568ff 8.43%, #522d88 84.81%);
}

.chest.Uncommon::after {
  background: linear-gradient(168.19deg, #3f8da9 0%, #2e6db1 99.65%) !important;
}

.Uncommon .icon-chest::after {
  background: linear-gradient(168.19deg, #3f8da9 0%, #2e6db1 99.65%) !important;
}

.Uncommon .icon-info {
  color: #49a6d0 !important;
}

.chest.Rare::after {
  background: linear-gradient(168.19deg, #ffd600 0%, #ff8a00 99.65%) !important;
}

.Rare .icon-chest::after {
  background: linear-gradient(168.19deg, #ffd600 0%, #ff8a00 99.65%) !important;
}

.Rare .icon-info {
  color: #eebf20 !important;
}

.chest.Legendary::after {
  background: linear-gradient(168.19deg, #35d4c0 0%, #573bb4 99.65%) !important;
}

.Legendary .icon-chest::after {
  background: linear-gradient(168.19deg, #35d4c0 0%, #704ae8 99.65%) !important;
}

.Legendary .icon-info {
  color: #47bac1 !important;
}

.foundry-box {
  display: flex;
  column-gap: 70px;
}
.foundry-box .foundry .btn-def {
  margin-top: 10px;
}
.foundry-box .foundry,
.foundry-box .Stone-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: initial;
  width: 100%;
  padding: 15px 40px 15px 40px;
  border: var(--border-val) solid #35d4c0;
  border-radius: 37px;
}
.foundry-box .foundry .title,
.foundry-box .Stone-progress .title {
  font-size: 20px;
  margin-bottom: 10px;
}
.foundry-box .foundry img,
.foundry-box .Stone-progress img {
  height: 60px;
}
.foundry-box .foundry .info,
.foundry-box .Stone-progress .info {
  width: 100%;
}
.foundry-box .foundry .info .process-box p,
.foundry-box .Stone-progress .info .process-box p {
  text-align: end;
  margin-bottom: 5px;
}
.foundry-box .foundry .info .process-box p.desc,
.foundry-box .foundry .info .process-box p.desc-n,
.foundry-box .Stone-progress .info .process-box p.desc,
.foundry-box .Stone-progress .info .process-box p.desc-n {
  text-align: start;
  font-family: "Montserrat";
  font-size: 11px;
}
.foundry-box .foundry .info .process-box p.desc span,
.foundry-box .foundry .info .process-box p.desc-n span,
.foundry-box .Stone-progress .info .process-box p.desc span,
.foundry-box .Stone-progress .info .process-box p.desc-n span {
  color: #35d4c0;
}
.foundry-box .foundry .line,
.foundry-box .Stone-progress .line {
  width: 200px;
  height: 2px;
  background: #35d4c0;
  margin: 10px 0 10px 0;
}
.foundry-box .foundry .stone-create-box,
.foundry-box .Stone-progress .stone-create-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.foundry-box button {
  background: linear-gradient(156.43deg, #35d4c0 8.43%, #348379 84.81%);
  width: 170px;
}
.foundry-box button.desctive {
  background: #575267;
  cursor: initial;
}

.avatar-info .info .box a {
  color: #ffff;
}

.process-f {
  width: 100%;
  height: 14px;
  margin-bottom: 15px;
  background: #575267;
  border-radius: 37px;
}
.process-f .process-line-f {
  background-color: #35d4c0;
  width: 50%;
  height: 100%;
  border-radius: 37px;
}

.Stone-progress {
  border: var(--border-val) solid #9887ce !important;
}
.Stone-progress .title {
  margin-bottom: 0 !important;
}
.Stone-progress .process-f {
  margin-bottom: 10px !important;
}
.Stone-progress .info .process-box .content {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.Stone-progress .info .process-box .content .btn-def {
  margin-bottom: 5px;
}
.Stone-progress .info .process-box .content .btn-def button {
  width: 85px;
  font-size: 12px;
  padding: 7px 15px;
}
.Stone-progress .info.claimed p {
  color: #878492;
}
.Stone-progress .info.claimed .btn-def button {
  background: #575267;
  color: #878492;
  cursor: initial;
}
.Stone-progress .info.claimed .process-line-f {
  background-color: #575267;
}

/* ///  DECORATION CSS ///  */
.cont_select_center {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  margin-left: -150px;
}

.cont_heg_50 {
  position: absolute;
  height: 50%;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fd7b52;
}

/* ///  END DECORATION CSS  ///  */
.icon_select_mate {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  height: 22px;
  transition: all 275ms;
  z-index: 1000;
}
.icon_select_mate svg {
  fill: #fff;
}

.select_mate {
  position: relative;
  float: left;
  min-width: 170px;
  margin-top: 10px;
  width: 170px;
  text-align: center;
  font-family: "Roboto";
  color: #fff;
  font-weight: 300;
  background-color: #2d2e42;
  border-radius: 14px;
  transition: all 375ms ease-in-out;
  border: var(--border-val) solid #35d4c0;
  z-index: 1000;
  font-size: 14px;
  /* Oculto el elemento select */
}

.cont_list_select_mate {
  position: relative;
  float: left;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.cont_select_int {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  width: 170px !important;
  z-index: 999;
  overflow: hidden;
  height: 0px;
  width: 100%;
  background-color: #2d2e42;
  border: var(--border-val) solid #35d4c0;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 14px;
  visibility: hidden;
  overflow-y: scroll;
}
.cont_select_int li.desctive {
  color: red;
}
.cont_select_int::-webkit-scrollbar {
  width: 0px;
}
.cont_select_int li {
  position: relative;
  float: left;
  width: 100%;
  border-bottom: 1px solid #2d2e42;
  background-color: #2d2e42;
  list-style-type: none;
  padding: 10px 2%;
  margin: 0px;
  display: block;
  cursor: pointer;
}
.cont_select_int li:last-child {
  border-radius: 3px;
  border-bottom: 0px;
}
.cont_select_int li:hover {
  background-color: #2d2e42b9;
}
.cont_select_int .active {
  background-color: #2d2e42b9;
}

/* etiqueta <p> con la opcion selecionada  */
.selecionado_opcion {
  padding: 10px 0;
  width: 100%;
  display: block;
  margin: 0px;
  cursor: pointer;
}

.evolving-stones-detail {
  margin-top: 15px;
}
.evolving-stones-detail p {
  font-size: 18px;
  margin-bottom: 15px;
  text-indent: 30px;
}
.evolving-stones-detail .stones {
  border: var(--border-val) solid #35d4c0;
  border-radius: 37px;
  display: flex;
  padding: 10px 35px;
  position: relative;
  overflow: hidden;
  height: 103.76px;
}
.evolving-stones-detail .stones .arrows {
  padding: 0 15px;
  z-index: 5000;
}
.evolving-stones-detail .stones .arrows svg {
  height: 25px;
}
.evolving-stones-detail .stones img {
  height: 40px;
}
.evolving-stones-detail .stones .stone {
  animation: show-popup2 0.3s forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.evolving-stones-detail .stones .stone:not(:last-child) {
  margin-right: 50px;
}
.evolving-stones-detail .stones .stone button {
  background: linear-gradient(156.43deg, #a568ff 8.43%, #522d88 84.81%);
  padding: 5px 30px;
  font-size: 12px;
}

.marketplace-box h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
}

.select.char {
  display: flex;
  flex-direction: column;
}
.select.char button {
  background: linear-gradient(156.43deg, #a568ff 8.43%, #69449f 84.81%);
}

.button.button--falid {
  background: #d04f4f;
  border: 1px solid #d04f4f;
  margin-left: 20px;
}

.nav-button {
  position: relative;
  height: 2.4rem;
  width: 2.8rem;
  background-color: transparent;
  background-image: linear-gradient(to right, currentColor, currentColor);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 5px;
  padding: 0;
  outline: 0;
  border: 0;
  color: #333;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: 0.25s cubic-bezier(0.17, 0.67, 0.89, 1.4);
  transition-property: transform;
  will-change: transform;
}

.nav-button::before,
.nav-button::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  height: 5px;
  background: currentColor;
  transition: 0.25s;
  transition-property: transform, top;
  will-change: transform, top;
}

.nav-button::before {
  top: 0;
}

.nav-button::after {
  top: calc(100% - 4px);
}

/* cross button */
.cross-button:focus {
  background-image: none;
}

.cross-button:focus::before,
.cross-button:focus::after {
  top: 50%;
}

.cross-button:focus::before {
  transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 45deg);
}

.cross-button:focus::after {
  transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -45deg);
}

.left-side .btn-fillter .btn svg {
  height: 20px;
  display: none;
}

.nav-btn {
  display: none !important;
  transform: translateY(-3px);
}
.nav-btn .nav-button {
  color: #9887ce;
  background-size: 100% 3px;
  height: 17px;
  width: 20px;
}
.nav-btn .nav-button::before,
.nav-btn .nav-button::after {
  height: 3px;
}

.navBar {
  position: fixed;
  width: calc(100% - 40px);
  top: 0%;
  z-index: 800;
  height: fit-content;
  background: #3e394c;
  border: 2px solid #9887ce;
  border-radius: 10px;
  left: 50%;
  margin-top: 20px;
  transform: translateX(-50%);
  z-index: 9000;
  opacity: 0;
  z-index: -9000;
  display: none;
}
.navBar .section .header {
  border: none;
  margin: 8px 0px;
  margin-top: 0;
  border-radius: 0;
}
.navBar .section .header .content-header {
  justify-content: space-around;
}
.navBar .btn-fillter a {
  color: #ffff;
  text-transform: capitalize;
  text-align: center;
}
.navBar .btn-fillter a p {
  padding: 10px 0;
}
.navBar .btn:last-child p {
  padding-bottom: 20px;
}
.navBar .smm-box {
  border: none;
  padding-top: 5px;
}
.navBar .smm-box .smm {
  flex-direction: initial;
  align-items: initial;
  padding-bottom: 10px;
}
.navBar .smm-box .smm a {
  padding: 0 10px;
}
.navBar .smm-box .btn-disc {
  padding: 5px 25px;
}
.navBar .smm-box .btn-disc svg {
  display: none !important;
}
.navBar .smm-box .btn-disc p {
  display: block !important;
}
.navBar .section {
  position: initial;
}
.navBar .section.container {
  padding: 0;
  border-radius: 10px;
}
.navBar .line-nav {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.navBar .line-nav .line {
  width: 75%;
  height: 1.9px;
  background-color: #a568ff;
}

.detail-av .avatar-img {
  display: none;
}

.navBar .cross-button {
  background-image: none;
}
.navBar .cross-button::before,
.navBar .cross-button::after {
  top: 50%;
}
.navBar .cross-button::before {
  transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 45deg);
}
.navBar .cross-button::after {
  transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -45deg);
}

.active-nav {
  opacity: 1;
  z-index: 9000;
  transition: all 0.5s;
}

.dropdown {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.dropdown svg {
  height: 17px;
  position: absolute;
  z-index: 80000;
  right: 5px;
  transition: 0.2s;
}

.dropdown-header {
  padding: 10px;
  cursor: pointer;
  text-align: center;
  color: white;
}

.dropdown-body {
  display: none;
}

.dropdown-body.open {
  display: block;
  color: white;
  position: absolute;
  width: 103%;
  background-color: #2d2e42;
  border: var(--border-val) solid #35d4c0;
  top: -2px;
  border-radius: 14px;
  left: -2px;
}

.dropdown-item {
  padding: 10px;
}

.dropdown-item:hover {
  cursor: pointer;
}

.dropdown-item-dot {
  opacity: 0;
  color: #91a5be;
  transition: all 0.2s ease-in-out;
}

.dropdown-item-dot.selected {
  opacity: 1;
}

.icon {
  font-size: 13px;
  color: #91a5be;
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}

.icon.open {
  transform: rotate(90deg);
}

.content {
  animation: popMain 0.8s linear forwards;
  opacity: 0;
}

.avatar-img {
  animation: popMain 0.3s linear forwards;
  opacity: 0;
}

@keyframes popMain {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/**
 * Buttons.
 */
.button {
  margin-bottom: 4px;
  padding: 8px 12px;
  border: 1px solid #75b9e1;
  border-radius: 3px;
  background: #4fa0d0;
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
  color: #fff;
}
.button:focus {
  outline: none;
}
.button--warning {
  border: 1px solid #ffb039;
  background: #ff9800;
}
.button--success {
  border: 1px solid #71e6ab;
  background: #4ad890;
}
.button--error {
  border: 1px solid #f578a4;
  background: #ef5289;
}

/**
 * Popups.
 */
.popup {
  visibility: hidden;
  transition: visibility 0ms linear 0.3s;
}
.popup--visible {
  visibility: visible;
  transition: visibility 0ms;
}

.popup__background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.popup--visible .popup__background {
  opacity: 1;
}
.popup__content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10001;
  max-width: 400px;
  min-width: 250px;
  padding: 25px 0px;
  background: #2d2e42;
  border-radius: 3px;
  text-align: center;
  animation: hide-popup 0.3s forwards;
  /**
  * Popup types.
  */
}
.popup--visible .popup__content {
  animation: show-popup 0.3s forwards;
}
.popup--icon .popup__content {
  padding: 30px;
  /**
  * Different popup icon styles
  *
  * E.g. selector for type question: ".popup--icon.-question" to match class="popup--icon -question"
  *
  * To have an easier selector in SCSS we use a little workaround and rearrange the selectors:
  *  ".-question.popup--icon" is also matching class="popup--icon -question"
  */
}
.popup--icon .popup__content:before, .popup--icon .popup__content:after {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 90px;
  width: 90px;
}
.popup--visible.popup--icon .popup__content:before {
  animation: show-icon-cirlce 0.3s forwards 0.15s;
}
.popup--visible.popup--icon .popup__content:after {
  animation: show-icon 0.3s forwards 0.3s;
}

.-question.popup--icon .popup__content:before {
  border-color: #ff9800;
}

.-success.popup--icon .popup__content:before {
  border-color: #4ad890;
}

.-error.popup--icon .popup__content:before {
  border-color: #ef5289;
}
.-error.popup--icon .popup__content:after {
  content: "✗";
  color: #ef5289;
}

.popup__content__title {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 100;
  color: #ffffff;
}

/**
 * Popup animations.
 * Based on Sweet Alert: "https://t4t5.github.io/sweetalert/"
 */
@keyframes show-popup2 {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  45% {
    transform: scale(1.05);
    opacity: 1;
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes show-popup {
  0% {
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
  }
  45% {
    transform: translate(-50%, -50%) scale(1.05);
    opacity: 1;
  }
  80% {
    transform: translate(-50%, -50%) scale(0.95);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes hide-popup {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
}
/**
 * Icon animations.
 */
@keyframes show-icon {
  0% {
    transform: translateX(-50%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
}
@keyframes show-icon-cirlce {
  0% {
    transform: translateX(-50%) scale(1, 0);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) scale(1, 1);
    opacity: 1;
  }
}
.img-i {
  position: relative;
}
.img-i img:last-of-type {
  position: absolute;
  height: 130px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-message {
  height: calc(100vh - (32px + 40px));
}
.main-message .message-ch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  white-space: nowrap;
}